<!-- Validation failure messages -->
<% if @my_debt.errors.any? %>
  <% @my_debt.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add My Debt</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_my_debt" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for initiator_id -->
      <div class="form-group">
        <label for="initiator_id" class="control-label">
          Initiator
        </label>

        <%= select_tag(:initiator_id, options_from_collection_for_select(User.all, :id, :email, @my_debt.initiator_id), :class => "form-control") %>
      </div>

      <!-- Label and input for other_id -->
      <div class="form-group">
        <label for="other_id" class="control-label">
          Other
        </label>

        <input type="text" id="other_id" name="other_id" placeholder="Other" class="form-control" value="<%= @my_debt.other_id %>">
      </div>

      <button class="btn btn-success">
        Create My Debt
      </button>
      or
      <a href="/my_debts">Cancel</a>
    </form>
  </div>
</div>
